<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free PDF Colour Inverter Online</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<a href="https://github.com/keotl/pdf-colour-invert"><img style="position: absolute; top: 0; left: 0; border: 0;"
                                                          src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
                                                          alt="Fork me on GitHub"></a>

<div style="position:absolute; right:0; top: 0;">
    <a href="/">Invert Colour</a>
    <a href="/2x2">Convert a PDF to 2x2</a>
</div>

<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20vh;">
    <div>
        <h1>Free Online PDF Colour Inverter</h1>

        <p>Upload a PDF file to invert its colour</p>

        <form enctype="multipart/form-data" action="/convert" method="POST">
            Choose a file to upload: <input name="uploadedfile" type="file"/><br/>
            <input type="submit" value="Upload File"/>
        </form>

        <p style="padding-top: 30px">
            Processing may take several minutes to complete for large files.
        </p>
    </div>
</div>
<footer style="position: absolute; bottom: 0; font-size: x-small;">
    <p>Powered by <a href="https://docs.jivago.io">Jivago</a></p>
    <p>Built with &#9829; by <a href="https://github.com/keotl">Kento A. Lauzon</a></p>
</footer>
</body>
</html>
