<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free PDF Colour Inverter Online</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" type="text/css" rel="stylesheet"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <style>
        .is-primary {
          border-color: #fe6600 !important;
          color: #fe6600 !important;
        }
        .button.is-primary:hover {
          background-color: #fe6600 !important;
          color: white !important;
        }
        .button.is-primary:focus {
          background-color: #fe6600 !important;
          color: white !important;
          box-shadow: 0 0 0 0.125em rgba(254,102,0,.25) !important;
        }
        #submit-button.is-primary.is-loading::after {
          border-color: transparent transparent #fe6600 #fe6600 !important;
        }



    </style>
</head>
<body>
<a href="https://github.com/keotl/pdf-colour-invert"><img
        style="position: absolute; top: 0; right: 0; border: 0; z-index: 100;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
        alt="Fork me on GitHub"></a>
<div class="navbar" role="navigation" aria-label="main navigation">
    <a class="navbar-item" href="/">Invert Colour</a>
    <a class="navbar-item" href="/2x2">Convert 2x2</a>
</div>

<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20vh;">
    <div>
        <img src="/static/logo.png"/>
        <div style="display: flex; flex-direction: row; justify-content: center;">A free online PDF colour inverter
        </div>
        <div style="padding-top: 4rem; display: flex; flex-direction: column; align-items: center;">

            <form enctype="multipart/form-data" action="/convert" method="POST" id="form">
                <div style="display: flex; flex-direction: column; align-items: center;">

                    <div class="field">
                        <div class="file is-boxed has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="uploadedfile" id="upload-button"
                                       accept=".pdf">
                                <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose File
        </span>
      </span>
                                <span class="file-name" id="file-name">
      </span>
                            </label>
                        </div>
                    </div>


                    <div style="margin: 1rem;" class="field has-addons">
                        <p class="control">
                        <button type="submit" value="Upload File" id="submit-button"
                                class="button is-outlined is-primary">Upload
                            File
                        </button>
                        </p>
                        <p class="control">
                            <button
                                    class="button is-outlined is-primary" id="options-button" disabled title="Enable Javascript to use advanced options.">
                                <i class="fas fa-cog"></i>
                            </button>
                        </p>

                        <div class="dropdown is-right" id="options-dropdown">
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content" id="dropdown-button-container">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <div>
                <p style="padding-top: 30px">
                    Processing may take several minutes for large files.
                </p>
            </div>
        </div>
    </div>

</div>
<footer style="position: absolute; bottom: 0; font-size: x-small;">
    <p>Powered by <a href="https://docs.jivago.io">Jivago</a></p>
    <p>Built with &#9829; by <a href="https://github.com/keotl">Kento A. Lauzon</a></p>
</footer>
<script>
    const DPI_SETTINGS = [[50, "Low (Fastest)"], [100, "Normal"], [125, "High"], [160, "Very High"], [192, "Ultra (Slowest)"]]

    const submitButton = document.getElementById("submit-button");
    const selectFileButton = document.getElementById("upload-button");
    const fileNameField = document.getElementById("file-name");
    const optionsButton = document.getElementById("options-button");
    const optionsDropdown = document.getElementById("options-dropdown");
    const dropdownButtonContainer = document.getElementById("dropdown-button-container");

    var dpi = 100;

    selectFileButton.addEventListener("change", e => {
      fileNameField.textContent = e.target.value;
    })

    optionsButton.disabled = false;
    optionsButton.title = "Conversion Quality";

    for (const x of DPI_SETTINGS) {
      const dpiButton = document.createElement("a");
      dpiButton.textContent = x[1];
      dpiButton.className = "dropdown-item";
      dpiButton.onclick = () => {setDpi(x[0]); optionsDropdown.classList.remove("is-active")};
      dropdownButtonContainer.appendChild(dpiButton);
    }

    optionsButton.addEventListener("click", e => {
      e.preventDefault();
      if (optionsDropdown.classList.contains("is-active")) {
        optionsDropdown.classList.remove("is-active");
      } else {
        optionsDropdown.classList.add("is-active");
      }
    })

    function setDpi(x) {
      dpi = x;
      document.getElementById("form").action = `/convert?dpi=${dpi}`;
    }

    submitButton.addEventListener("click", e => {
      if (selectFileButton.value === "" || selectFileButton.value === undefined) {
        selectFileButton["data-tooltip"] = "Select a file first.";
        selectFileButton.className += " has-tooltip-active";
        e.preventDefault();
        return false;
      }

      setTimeout(() => {
      e.target.disabled = true;
      e.target.className += " is-loading"
      }, 100)
    })

</script>

</body>
</html>
